@import '@/assets/scss/_main';

.main {
  width: 100%;
  height: 100vh;

  .sidebar {
    width: 230px;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: .8);
  }

  .content-right {
    width: calc(100% - 220px);
    height: 100vh;

    .navbar {
      width: 100%;
      padding: 10px 15px;
      background-color: #ccc;
    }

    .pages {
      width: 100%;
      height: auto;
    }
  }
}
